<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/scrollbar.css" />

    <script
      src="https://kit.fontawesome.com/3200730e91.js"
      crossorigin="anonymous"
    ></script>

    <title>Blogs</title>
    <link rel="icon" href="./assets/icon.png" />

    <base href="/" />
  </head>
  <body class="bg-background overflow-x-hidden scrollbar">
    <% if(session.isAuth){ %>
    <a
      href="/blog/create"
      class="text-3xl bottom-28 right-10 fixed text-primary bg-background rounded-full lg:text-4xl lg:bottom-16 lg:right-16"
      ><i class="fa-solid fa-2x fa-circle-plus"></i
    ></a>
    <% } else {%>
    <a
      href="/register"
      class="text-3xl bottom-0 right-0 p-10 fixed text-primary"
    >
      Sign up to create a blog
    </a>
    <% } %> <%- include("navbar", { session }) %>
    <div
      class="pt-8 flex flex-col w-screen justify-center items-center lg:px-52"
    >
      <% blogs.map((blog)=>{ %>
      <div
        class="mb-8 w-full flex flex-col border-2 border-secondary rounded-2xl p-5"
      >
        <div class="flex flex-col">
          <div class="flex w-full justify-between">
            <div class="text-xl text-secondary"><%= blog.author %></div>
            <% if(session.username==="admin"){ %>

            <a href="/blog/delete/<%= blog._id %>" class="text-sm text-red-500"
              >Delete</a
            >
            <% } %>
          </div>
          <div class="text-xl text-gray-600">
            <% date = new Date(blog.date) %> <%= date.getDate() %>/<%=
            date.getMonth()+1 %>/<%= date.getFullYear() %> | <%=
            date.getUTCHours()-(date.getTimezoneOffset()/60) %>:<%
            if(date.getMinutes()<10){ %>0<%= date.getMinutes() %><% } else {
            %><%= date.getMinutes() %><% } %>
          </div>
        </div>
        <a href="/blog/<%= blog._id %>">
          <div class="text-3xl my-2 text-primary"><%= blog.title %></div>
          <div class="text-xl text-gray-400 w-2/3 my-2 break-words">
            <%= blog.content.substring(0, 100) %><%
            if((blog.content).length>100){ %>...<%}%>
          </div>
        </a>
      </div>

      <% }) %>
    </div>
  </body>
</html>
