<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <script
      src="https://kit.fontawesome.com/3200730e91.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .fa-circle-plus {
        color: rgb(134, 214, 134);
      }
    </style>
    <title>Blogs</title>
  </head>
  <body class="bg-gray-800">
    <% if(session.isAuth){ %>
    <a
      href="/blog/create"
      class="text-3xl bottom-10 right-10 fixed text-purple-500"
      ><i class="fa-solid fa-3x fa-circle-plus"></i
    ></a>
    <% } else {%>
    <a
      href="/register"
      class="text-3xl bottom-0 right-0 p-10 fixed text-purple-500"
    >
      Sign up to create a blog
    </a>
    <% } %> <%- include("navbar", { session }) %>
    <div class="p-10 flex flex-col w-screen justify-center items-center">
      <% blogs.map((blog)=>{ %>
      <div
        class="mb-8 w-1/2 flex flex-col border-2 border-purple-500 rounded-2xl p-5"
      >
        <div class="flex flex-col">
          <div class="text-xl text-gray-200"><%= blog.author %></div>
          <div class="text-xl text-gray-600"><%= blog.date %></div>
        </div>
        <a href="/blog/<%= blog.id %> " class="text-3xl my-2 text-purple-500"
          ><%= blog.title %></a
        >
        <div class="text-xl text-purple-500 w-1/2"><%= blog.content %></div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
